@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Kanit', sans-serif;
    color: white;
    background-color: #3a3a3a;
}

/* Logo */

#hero {
    font-size: 500%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
}

#hero-image{
    position: relative;
    top: 75px;
}

/* Start */

#start-button {
    width: 150px;
    height: 50px;

    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;

    border: 0px solid;
    
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button:hover {
    border: 3px solid;
    border-radius: 7%;
}

/* Game controls */

#game{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-auto-rows: 250px;
    justify-content: center;
}

.btn {
    margin: 25px;
}

#btn--green {
    background: url('../images/Green.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
}

.green-active {
    background-image: url('../images/GreenSelected.png') !important;
}

#btn--blue {
    background: url('../images/Blue.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: left;
}
.blue-active {
    background-image: url('../images/BlueSelected.png') !important;
}
#btn--red {
    background: url('../images/Red.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: left;
}
.red-active {
    background-image: url('../images/RedSelected.png') !important;
}
#btn--yellow {
    background: url('../images/Yellow.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
}
.yellow-active {
    background-image: url('../images/YellowSelected.png') !important;
}

/* Score */

#score-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#score--correct {
    margin: 20px;
    color: #0BAA13;
    border: 2px solid;
    padding: 10px;
}

#score--incorrect {
    margin: 20px;
    color: #FB241D;
    border: 2px solid;
    padding: 10px;
}

/* Send score form */
#form-area{
    width: 50%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text-input {
    width: 40%;
    height: 25px;
    color: white;
    margin: 5px auto;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 2px;
    padding: 2px 5px;
}

#submit-button {
    width: 150px;
    height: 50px;

    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;

    border: 0px solid;
    
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-button:hover {
    border: 3px solid;
    border-radius: 7%;
}

/* Footer */

footer{
    width: 100%;
    height: auto;
}

#sign-text{
    font-size: 10px;
    text-align: right;
    
    position: relative;
    bottom: -15px;
    margin-right: 10px;
}
